.personal-area-page {
  width: 100%;
  height: 100%;
  max-width: 960px;
  padding: 20px;
  font-family: inherit;
  position: fixed;
}

.leftsideDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile {
  width: 150px;
  height: 150px;
}

.editButton {
  background: url(../../public/icons8-pencil.gif) no-repeat;
  width: 4%;
  height: 6%;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.labelsDiv {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}