.search {
  text-align: center; 
  width: 100%;
  min-height: 100vh; 
  overflow-x: hidden; 
  display: flex;  
  font-size: 20px; 
  color: rgba(0, 0, 0, 0.812); 
  font-weight: bolder; 
  font-family: math; 
  background-image: url(./pictures_explore/background_all.jpg); 
  background-attachment: fixed; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover; 
  align-items: center;
  flex-direction: column;
}

.label_search {
  margin-top: 100px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  color: rgba(185, 126, 126, 0.905);
  font-size: 40px;
}

.search_box {
  width: 180px;
  height: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.search_button {
  border: none;
  width: 120px;
  height: 30px;
  font-size: 20px;
  color: black;
  border-radius: 5%;
  cursor: pointer;
  background-color: rgba(236, 215, 215, 0.905);
  transition: background-color 0.3s;


}

.search_button:hover {
  background-color: rgba(224, 185, 185, 0.905);
}
